@import './movil/global';
@import './movil/authLoginRegister';
@import './movil/navBar';
@import './movil/filterScreen';
@import './movil/clothesCard';
@import './movil/clothesList';
@import './movil/clothesDetails';
@import './movil/shoppingCartScreen';
@import './movil/itemCart';
@import './movil/clothesModal';
@import './movil/carouselPortada';
@import './movil/carouselFeatured';
@import './movil/footerScreen';
