.card {
	border: solid 1px black;

	.card__container-img {
		width: 80%;
		display: flex;
		height: 26rem;
		padding: 0;
		margin: 0;
		margin: 0 auto;

		.card__img {
			width: 100%;
			object-fit: cover;
		}
	}
	.card__text {
		width: 90%;
		margin: 0 auto;
		margin-top: 2rem;
		margin-bottom: 2rem;

		.card__name {
			display: block;
			font-size: 1.5rem;
		}
		.card__price {
			margin-top: 1rem;
			display: block;
			font-size: 1.8rem;
		}
		.card__shipping {
			margin-top: 0.5rem;
			display: block;
		}
		.card__more {
			margin-top: 0.5rem;
			display: block;
		}
	}
}
