$red-off: #f93449;
$white-off: #f9f9f9;
$primary-font: 'Nunito', sans-serif;
$black-soft: #aaa;
$black: #444;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

html {
	font-size: 62.5%;
}

body {
	background-color: $white-off;
	font-family: $primary-font;
	font-weight: 400;
	min-width: 320px;
	color: $black;
}
