.nav__container {
	width: 100%;
	background-color: $red-off;

	.nav {
		width: 100%;
		margin: 0 auto;
		max-width: 1240px;
		display: flex;
		height: 6rem;

		.nav__logo {
			margin: 0;
			padding: 0;
			width: 35%;
			height: 6rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.nav__logo-img {
				width: 95%;
				height: 3rem;
				margin-left: 8px;
			}
		}
		.nav__btn-search {
			width: 15%;
			border: none;
			padding: 0;
			margin: 0;
			background-color: $red-off;
			color: #ffff;
			border-right: 1px solid #fff;
		}
		.nav__login {
			width: 15%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ffff;
			border-right: 1px solid #fff;
		}
		.nav__btn-store {
			width: 15%;
			border: none;
			padding: 0;
			margin: 0;
			background-color: $red-off;
			color: #ffff;
			border-right: 1px solid #fff;
		}
		.nav__categories {
			width: 20%;
			position: relative;
			height: 6rem;
			color: #ffff;

			.nav__cat-text {
				width: 100%;
				display: block;
				height: 6rem;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
			.nav__menu {
				position: absolute;
				width: 100%;
				margin: 0;
				padding: 0;
				list-style: none;
				display: none;

				.nav__menu-link {
					display: block;
					width: 100%;
					height: 4rem;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: $red-off;
					color: #ffff;
					border-top: 1px solid #fff;
				}

				.radius--bottom {
					border-bottom-left-radius: 6px;
				}
			}

			.activeMenu {
				display: block;
			}
		}
	}

	.nav__search {
		width: 100%;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;

		.nav__search-input {
			width: 80%;
			height: 2rem;
			border-radius: 6px;
			outline: none;
			border: none;
		}
	}
	.activeSearch {
		display: flex;
	}
}

.search__alert {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 1.5rem;
	padding-bottom: 5px;
}
